body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px; // ← 여기서 기본 글씨 크기 조절
  line-height: 1.7;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans KR', sans-serif;
  color: #111;
  font-weight: 600;
}

h1 {
  font-size: 28px;
  margin-bottom: 0.1em;
  margin-top: 0.1em;
}

h2 {
  font-size: 25px;
  margin-bottom: 0.1em;
  margin-top: 0.1em;
}

h3 {
  font-size: 22px;
  margin-bottom: 0.1em;
  margin-top: 0.1em;
}

h4 {
  font-size: 19px;
  margin-bottom: 0.1em;
  margin-top: 0.1em;
}

h5 {
  font-size: 16px;
  margin-bottom: 0.1em;
  margin-top: 0.1em;
}

h6 {
  font-size: 13px;
  margin-bottom: 0.1em;
  margin-top: 0.1em;
}

p {
  font-size: 15px;
}

ol {
  padding-left: 1.2rem;
  margin-left: 0;
}

ol li, ul li {
  font-size: 15px;
  margin-bottom: 0.3em;
  text-indent: 0;
}

br {
  margin-bottom: 0.0em;
  margin-top: 0.0em;
}

pre {
  font-size: 12px;                 // 내부 글자 작게
  padding: 0.5rem 0.75rem;         // ✅ 안쪽 여백 줄이기 (기존보다 절반 이하)
  margin: 0.5rem auto;             // 위아래 간격 줄이기
  line-height: 1.4;                // 줄 간격 촘촘하게
  width: 90%;                      // 본문보다 조금 좁게
  background-color: #f8f8f8;
  border-radius: 6px;
  overflow-x: auto;
  box-sizing: border-box;
}


